# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\COURSERA\week4\ReverseFunc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
